* {
    padding: 0;
    margin: 0;
    --main-text-font-family-default: "Geometria", sans-serif;
}

.main-banner {
    width: 100%;
    height: 877px;
    background-image: url("../images/banner_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-banner__header {
    max-width: 100%;
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__menu {
    width: 6vw;
    height: 36px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 25vw;
    height: 110px;
    display: flex;
    align-items: center;
}

.header__contacts {
    width: 14vw;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__icon {
    cursor: pointer;
}

.menu__icon:hover {
    transform: scale(1.1);
    transition: transform 500ms;
}

.menu__text {
    font-family: var(--main-text-font-family-default);
    font-size: 16px;
    line-height: 120%;
    margin-left: 30px;
}

.logo__text {
    font-family: var(--main-text-font-family-default);
    font-size: 0.9rem;
    line-height: 130%;
    margin-left: 30px;
}

.contacts__text {
    font-family: var(--main-text-font-family-default);
    font-size: 1.5em;
    line-height: 130%;
}

.contacts__button {
    margin-top: 17px;
    font-family: "Geometria", sans-serif;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #2A94E2;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.contacts__button:hover {
    transform: scale(1.1);
    transition: transform 500ms;
}

.test-area{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 60px 0;
}

.test-heading{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.text-xlarge{
    font-family: "Geometria", sans-serif;
    font-size: 35px;
    margin-top: 0;
}

.text-xmedium{
    text-decoration: none;
    font-weight: 400;
    font-family: "Geometria", sans-serif;
    font-size: 22px;
    margin: 0;
}

.text-medium{
    text-decoration: none;
    font-weight: 400;
    font-family: "Geometria", sans-serif;
    font-size: 22px;
    margin: 0;
}

.text-xsmall{
    text-decoration: none;
    font-weight: 400;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    margin: 0;
}

.text-xsmall_opacity_low{
    opacity: 0.5;
}

.text-xsmall_blue{
    color: #2A94E2;
}

.heading{
    text-align: center;
}

.test-area__test-content{
    margin-top: 42px;
}

.test-content{
    border: 3px solid #F6F6F6;
    display: flex;
    flex-direction: row;
    width: 59%;
    flex-wrap: wrap;
    justify-content: center;
}

.test-block{
    padding: 43px 40px 18px 36px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #F6F6F6;
}

.test-block__questions-option-block{
    margin-top: 30px;
    gap: 30px;
}

.questions-option-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.option-block__text-xsmall{
    margin-top: 25px;
    text-align: center;
}

.test-block__test-footer{
    margin-top: 26px;
    padding: 30px 0 18px 0;
}

.test-footer{
    border-top: 2px solid #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.next-question-button{
    border: none;
    background-color: #FFFFFF;
    padding: 0;
}

.next-question-button:hover {
    transform: scale(1.03);
    transition: transform 500ms;
    cursor: pointer;
}

.next-question-button_img{
    margin-left: 15px;
}

.test-block__check-marks-block{
   padding:40px 44px 31px 40px;
}

.check-marks-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 23.3%;
}

.text-xsmall_line-heigth_large{
    line-height: 26px;
}

.check-mark__text{
    margin-left: 25px;
}

.check-mark{
    display: flex;
    flex-direction: row;
}

.service-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.main-banner__text-section {
    width: 31vw;
    height: 20%;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
}

.text-section__title {
    font-family: "Roboto", sans-serif;
    font-size: 2.08em;
    line-height: 125%;
    text-transform: uppercase;
    font-style: normal;
}

.text-section__subtitle {
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 130%;
}

.main-banner__advantages {
    margin-top: 49px;
    margin-left: 20vw;
    width: 44vw;
    height: 310px;
    display: flex;
    flex-direction: column;
}

.advantages__cards {
    display: flex;
    width: 100%;
}

.cards__item {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.item__number {
    font-size: 4em;
    margin-left: 50px;
}

.item__number_first {
    font-size: 4em;
}

.item__text {
    font-size: 16px;
    margin-left: 20px;
}

.advantages__present {
    width: 30vw;
    display: flex;
    align-items: center;
}

.present__text {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}

.present__text_bold {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.advantages__button {
    margin-top: 30px;
    width: 42%;
    height: 70px;
    background: #2A94E2;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
}

.advantages__button:hover {
    transform: scale(1.1);
    transition: transform 500ms;
}

@media screen and (max-width: 1480px) {
    .contacts__text {
        font-size: 1em;
    }
    .text-section__title {
        font-size: 1.6em;
    }
    .item__number_first {
        font-size: 3em;
    }
    .item__number {
        font-size: 3em;
    }
    .main-banner__advantages {
        margin-top: 20px;
    }
}


.service-content-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 59%;

}

.service-content-block__img{
    width: 100%
}

.content-block_number_1{
    grid-row-start: 1;
    grid-row-end: 2;
}

.content-block_number_4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}